img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: black;
}

img.animated-gif {
  width: 100px;
  height: auto;
  position: absolute;
}

.col-md-3 {
  float: left;
  position: relative;
}
